body {
    font-family: 'Montserrat', sans-serif;
    background-color: black;
    color: white;
}

.teaser {
    position: fixed;
    bottom: 0;

    padding: 20px;
}

.title {
    font-weight: lighter;
}

.subtitle a {
    font-weight: bolder;
    color: white;
    text-decoration: none;
}

.subtitle a:hover {
    text-decoration: underline;
}

@media only screen and (min-width: 651px) {
    .title {
        font-size: 75px;
    }
    .subtitle a{
        font-size: 20px;
    }
}

@media only screen and (max-width: 650px) {
    .teaser {
        flex-direction: column;
        display: flex;
    }
    .title {
        flex: 1;
        font-size: 100px;
    }
    .subtitle {
        flex:1;
    }
    .subtitle a{
        font-size: 40px;
    }

}
